<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_model_listed %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is complete</th>
                </tr>
                {% for task in task_model_listed %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_complete|yesno }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
            </table>
        </div>
    </main>
</body>
</html>
