<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List View</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="/projects/create/">Create a new project</a>
            </p>
            {% if project_list %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for project in project_list %}
                <tr>
                    <td><a href="/projects/{{ project.id }}/">{{ project.name }}</a></td>
                    <td>
                        {{ project.tasks.count }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>You are not assigned to any projects.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
